@import "../Common.scss";

.queryBox {
  box-sizing: border-box;
  position: relative;
  min-height: 30px;

  .inputRow {
    margin: 8px 0;

    div[class^=col-xs-] {
      padding-left: 0;
      padding-right: 2.5px;
    }

    :global(.form-control) {
      background-color: #ffffff; 
      height: 35px;
      padding: 0 12px;
      margin-right:4px;
      box-shadow: none;
    }

    :global(.form-control):focus {
      background-color: #ffffff; 
      box-shadow: 0 0 0 4px rgba(73, 181, 212, 0.1);
    }

    :global(.fa) {
      padding-top: 8px;
      font-size: 0.8em;
    }

    i:hover {
      cursor: pointer;
      color: #888;
    }
  }
}
