@import "../../Common.scss";

.editorExpanded {
  margin: 10px 0;
  padding: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius:4px;
  max-width: 768px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.08);
}

.editorCollapsed {
  display: block;
  margin-bottom: 20px;
}

.editorContent {
  padding: 10px 15px;
}